@tailwind base;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Quicksand:wght@500&display=swap");

:root {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
}

.custom-container {
  border-left: none !important;
  border-radius: 0.5rem;
  position: relative;
  &:after {
    content: "";
    width: 3px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: red;
    height: 80%;
    border-radius: 0 4px 4px 0;
  }
  &.warning {
    &:after {
      background-color: var(--c-warning);
    }
  }
  &.tip {
    &:after {
      background-color: var(--c-tip);
    }
    code {
      background-color: var(--c-bg);
    }
  }
  &.danger {
    &:after {
      background-color: var(--c-danger);
    }
  }
}

.quick-start {
  .theme-default-content {
    .icon.outbound {
      display: none;
    }
  }
}

.compatibility {
  .theme-default-content {
    img {
      max-width: 24px;
    }
  }
}
